/* @import './styles/colors.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  height: 100vh;

}